{% extends "layout.html" %}
{% block content %}
<h1>Benvenuti nelle Leggende del Mondo di Jeddi</h1>

<p>
Benvenuti in Leggende del Mondo di Jeddi.<br><br>
Curiosi, viaggiatori dell’immaginazione, cercatori di storie e sognatori di ogni giorno, entrate.<br>
Qui i racconti si intrecciano alle leggende, le vecchie pagine si risvegliano e mondi lontani vi aprono le loro porte.<br>
Ogni testo è un’avventura, nata da antichi archivi, scoperte letterarie o ispirazioni venute da altrove.<br><br>
Lasciate che i vostri passi scivolino tra le righe, seguite le tracce degli eroi dimenticati ed esplorate questo regno dove le parole modellano universi.<br><br>
Buon viaggio.
</p>
{% endblock %}
